extends layout

block layout-content
  div.View
    h1.Banner Matt's App
    div.Message
      div.Title
        h3 Some title 
        h1 howdy howdy
      span.Details Developed by Matt Shenton
    div.NavButtons
      if isAuthenticated
        a(href="/users")
          div.NavButton Click me! here here
      else
        a(href="/login")
            div.NavButton Log in