extends layout

block layout-content
  div.View
    h1.Banner NBA Derby
    div.Message
      span.Details Developed by Matt Shenton
    div.NavButtons
      if isAuthenticated
        a(href="/logout")
          button(type='button') Logout
      else
        a(href="/login")
          button(type='button') Log in